<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



    <link href="./Style.css" rel="stylesheet" />

    <title></title>

</head>

<body>



    <div class="container">

        <div class="row">

            <div class="col-lg-3 leftNavigation">

                <div class="nav nav-pills flex-column" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                    <span class="menubarHeading">Manage</span>

                    <a class="nav-link active" id="tab_a-tab" href="#tab_a" data-toggle="pill" role="tab" aria-controls="tab_a" aria-selected="true">

                        <div class="row">

                            <div class="col-lg-2">

                                <i class="material-icons">business_center</i>

                            </div>

                            <div class="col-lg-8">

                                Job Posting

                            </div>

                        </div>

                    </a>

                    <a class="nav-link " id="tab_b-tab" href="#tab_b" data-toggle="pill" role="tab" aria-controls="tab_b" aria-selected="false">

                        <div class="row">

                            <div class="col-lg-2">

                                <i class="material-icons">how_to_reg</i>

                            </div>

                            <div class="col-lg-10">

                                Shortlisted Applicants

                            </div>

                        </div>

                    </a>

                    <span class="menubarHeading">Account Information</span>

                    <a class="nav-link " id="tab_c-tab" href="#tab_c" data-toggle="pill" role="tab" aria-controls="tab_c" aria-selected="false">

                        <div class="row">

                            <div class="col-lg-2">

                                <i class="material-icons ">business</i>

                            </div>

                            <div class="col-lg-10">

                                Company Profile

                            </div>

                        </div>

                    </a>

                    <a class="nav-link " id="tab_d-tab" href="#tab_d" data-toggle="pill" role="tab" aria-controls="tab_d" aria-selected="false">

                        <div class="row">

                            <div class="col-lg-2">

                                <i class="material-icons ">person</i>

                            </div>

                            <div class="col-lg-9">

                                My Account

                            </div>

                        </div>

                    </a>

                    <span class="menubarHeading">Current Plan</span>

                    <h6>Basic Plan</h6>

                    <div class="row">

                        <div class="col-lg-12">

                            <button type="button" class="col-lg-12 btn btn-outline-info btn-block">Renew Plan</button>

                            <button type="button" class="col-lg-12 btn btn-info btn-block">Change Plan</button>

                        </div>

                    </div>

                    <div>

                        <br />

                        <hr>

                    </div>

                    <span class="menubarHeading">Contact Us</span>

                    <a class="nav-link " id="tab_c-tab" href="#tab_c" data-toggle="pill" role="tab" aria-controls="tab_c" aria-selected="false">

                        <div class="row">

                            <div class="col-lg-2">

                                <i class="material-icons ">contact_mail</i>

                            </div>

                            <div class="col-lg-8">

                                Via Mail

                            </div>

                        </div>

                    </a>

                    <a class="nav-link " id="tab_d-tab" href="#tab_d" data-toggle="pill" role="tab" aria-controls="tab_d" aria-selected="false">

                        <div class="row">

                            <div class="col-lg-2">

                                <i class="material-icons ">contact_phone</i>

                            </div>

                            <div class="col-lg-8">

                                Via Phone

                            </div>

                        </div>

                    </a>

                    <br />

                    <div class="row">

                        <button type="button" class="btn btn-link">Sign Out</button>

                    </div>

                </div>

            </div>

            <div class="col-lg-9">

                <div class="tab-content">

                    <div class="tab-pane fade show active" id="tab_a" role="tabpanel" aria-labelledby="tab_a-tab">

                        <h4>Job Postings</h4>

                        <hr>
                        <div class="post-content">
                            <div class="panel panel-default">

                                <div class="panel-body col-lg-12">
                                    <div class="row">
                                        <div class="pull-left col-lg-1">
                                            <img class="media-object img-circle postingLogo pull-left" src="https://diaspote.org/uploads/images/thumb_large_283df6397c4db3fe0344.png">
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <h6>
                                                        <strong>UI/UX Designer</strong>
                                                    </h6>
                                                </div>
                                                <div class="col-lg-12">
                                                    <small><small><i aria-hidden="true"></i> Ofra Inc.</small></small>
                                                </div>

                                                <div class="postinglocationtext">
                                                    <small> Kolkata, India</small>

                                                </div>
                                                <div>
                                                    <i class="material-icons postinglocationicon">place</i>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="col-lg-2">
                                            <div class="btn btn-group btn-link">
                                                <a href="#" class="btn btn-link btn-sm">Edit</a>
                                                <a href="#" class="btn btn-link btn-sm">Delete</a>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="col-lg-12">
                                            <hr>
                                            <div class="post-content-body">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel gravida metus, non ultrices sapien. Morbi odio metus, dapibus non nibh id amet.
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel gravida metus, non ultrices sapien. Morbi odio metus, dapibus non nibh id amet.
                                                </p>
                                                <small><small>- Posted 4 days ago.</small></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-content">
                            <div class="panel panel-default">

                                <div class="panel-body col-lg-12">
                                    <div class="row">
                                        <div class="pull-left col-lg-1">
                                            <img class="media-object img-circle postingLogo pull-left" src="https://diaspote.org/uploads/images/thumb_large_283df6397c4db3fe0344.png">
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <h6>
                                                        <strong>FrontEnd Developer</strong>
                                                    </h6>
                                                </div>
                                                <div class="col-lg-12">
                                                    <small><small><i aria-hidden="true"></i> Ofra Inc.</small></small>
                                                </div>

                                                <div class="postinglocationtext">
                                                    <small> Kolkata, India</small>

                                                </div>
                                                <div>
                                                    <i class="material-icons postinglocationicon">place</i>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="col-lg-2">
                                            <div class="btn btn-group btn-link">
                                                <a href="#" class="btn btn-link btn-sm">Edit</a>
                                                <a href="#" class="btn btn-link btn-sm">Delete</a>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="col-lg-12">
                                            <hr>
                                            <div class="post-content-body">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel gravida metus, non ultrices sapien. Morbi odio metus, dapibus non nibh id amet.
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel gravida metus, non ultrices sapien. Morbi odio metus, dapibus non nibh id amet.
                                                </p>
                                                <small><small>- Posted 4 days ago.</small></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-content">
                            <div class="panel panel-default">

                                <div class="panel-body col-lg-12">
                                    <div class="row">
                                        <div class="pull-left col-lg-1">
                                            <img class="media-object img-circle postingLogo pull-left" src="https://diaspote.org/uploads/images/thumb_large_283df6397c4db3fe0344.png">
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <h6>
                                                        <strong>Software Developer</strong>
                                                    </h6>
                                                </div>
                                                <div class="col-lg-12">
                                                    <small><small><i aria-hidden="true"></i> Ofra Inc.</small></small>
                                                </div>

                                                <div class="postinglocationtext">
                                                    <small> Kolkata, India</small>

                                                </div>
                                                <div>
                                                    <i class="material-icons postinglocationicon">place</i>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="col-lg-2">
                                            <div class="btn btn-group btn-link">
                                                <a href="#" class="btn btn-link btn-sm">Edit</a>
                                                <a href="#" class="btn btn-link btn-sm">Delete</a>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="col-lg-12">
                                            <hr>
                                            <div class="post-content-body">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel gravida metus, non ultrices sapien. Morbi odio metus, dapibus non nibh id amet.
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel gravida metus, non ultrices sapien. Morbi odio metus, dapibus non nibh id amet.
                                                </p>
                                                <small><small>- Posted 4 days ago.</small></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="tab-pane fade show " id="tab_b" role="tabpanel" aria-labelledby="tab_b-tab">

                            <h4>Pane B</h4>

                            <p>
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames

                                ac turpis egestas.
                            </p>

                        </div>

                        <div class="tab-pane fade show" id="tab_c" role="tabpanel" aria-labelledby="tab_c-tab">

                            <h4>Pane C</h4>

                            <p>
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames

                                ac turpis egestas.
                            </p>

                        </div>

                        <div class="tab-pane fade show" id="tab_d" role="tabpanel" aria-labelledby="tab_c-tab">

                            <h4>Pane D</h4>

                            <p>
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames

                                ac turpis egestas.
                            </p>

                        </div>

                    </div>

                </div>

            </div>

        </div>





        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



</body>
</html>